.home {
    &__title {
        font-size: $unit * 10;
        position: fixed;
        top: 50%;
        left: 15%;
        color: $dark-green;
    }

    &__video {
        position: fixed;
        height: 24rem;
        width: 48rem;
        top: 25%;
        right: 5%;
        border-radius: 3rem;
    }
}