.home {
    &__title {
        font-size: 78px;
        position: fixed;
        top: 50%;
        left: 15%;
        color: #3D5A2F;
    }

    &__video {
        position: fixed;
        height: 24rem;
        width: 48rem;
        top: 25%;
        right: 5%;
        border-radius: 3rem;
    }
}