.chip {
    display: flex;
    width: 4rem;
    height: 0.5rem;
    padding: $unit * 2;
    align-items: center;
    flex-shrink: 0;
    border-radius: $unit * 3.5;
    background: $dark-green;

    &__text {
        color: $white;
        font-size: $unit * 1.75;
        padding-top: $unit * 1.5;
    }
}