
.orders {
    padding: $unit * 4;

    &__order-display{
        display: grid;
        gap: $unit * 6;
        grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
        padding: $unit * 2;
    }
}