.item-card {
    margin:  0 18rem 0 18rem;
    &__img {
        border-radius: 200px;
        width: $unit * 18.75;
        height: $unit * 15;
    }

    &__actions {
        display: flex;
        justify-content: end;
    }
}