<mat-card class="card" *ngIf="product">
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card__header-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
      <div>
        <app-price-chip [price]="product.price"></app-price-chip>
      </div>
    </mat-card-content>
    <mat-card-actions class="card__container-actions">
        <button mat-icon-button matTooltip="Añadir a favoritos." (click)="addToFavouriteList()">
            <mat-icon aria-hidden="false" aria-label="Favorite" >
                <span class="material-symbols-outlined">favorite</span>
            </mat-icon>
        </button>
        <button mat-icon-button [disabled]="!product.available" matTooltip="Añadir al carrito." (click)="addToTheCart()">
            <mat-icon aria-hidden="false" aria-label="Shopping cart icon" >
                <span class="material-symbols-outlined">shopping_cart_checkout</span>
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>