
$grey-light: #E0E0E0;
$grey: #9E9E9E;
$white: #FFFFFF;
$blue: #9CCC65;

.card {
    max-width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 $grey-light;
    transition: 0.3s;
    width: 100%;

    &__header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        border-radius: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 35%;
      }

    &__container-actions {
      display: flex;
      justify-content: end;
    }
  }

.card:hover {
  box-shadow: 0 8px 16px 0 $grey;
}

.mat-card-subtitle{
  text-align: center;
  background-color: $grey;
  color: $white;
  border-radius: 25px;
}

.favorite-icon:hover {
  color: rgb(170, 0, 0);
}

.cart-icon:hover {
  color: rgb(0, 11, 170);
}

p{
  height: 120px;
}

.separate{
  margin-top: 5px;
  margin-right: auto;
}
