.cart {
    padding: $unit * 4;

    &__cart-display{
        display: grid;
        gap: $unit * 6;
        grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
        padding: $unit * 2;
    }

    &__actions {
        display: flex;
        justify-content: end;
        gap: $unit;

        &--button {
            background-color: $green;
        }
    }
}