<div class="cart">
  <h1>Tu pedido</h1>
  <div class="cart__cart-display">
    <app-shopping-cart-item
      *ngFor="let cartItem of shoppingCartItems"
      [cartItem]="cartItem"
      (itemRemoved)="updateCart()"
    ></app-shopping-cart-item>
  </div>

  <footer class="cart__actions">
    <div class="test">
      <p>Total: {{ total }} €</p>

      <a
        mat-button
        routerLink="/menu"
        routerLinkActive="active"
        class="cart__actions--button"
        >Cancelar</a
      >
      <button mat-button class="cart__actions--button" (click)="finishOrder()">
        Finalizar pedido
      </button>
    </div>
  </footer>
</div>
