<div class="cart">
  <h1>Tu pedido</h1>
  <div class="cart__cart-display">
    <button
      mat-icon-button
      mat-icon-button
      aria-hidden="false"
      aria-label="Shopping cart icon"
      (click)="removeAllItems()"
    >
      <mat-icon>
        <span class="material-symbols-outlined"> remove_shopping_cart</span>
      </mat-icon>
      Eliminar todo
    </button>
    <app-shopping-cart-item
      *ngFor="let cartItem of shoppingCartItems"
      [cartItem]="cartItem"
    ></app-shopping-cart-item>
  </div>

  <div class="cart__actions">
    <a
      mat-button
      routerLink="/menu"
      routerLinkActive="active"
      class="cart__actions--button"
      >Cancelar</a
    >
    <button mat-button class="cart__actions--button" (click)="saveOrder()">
      Finalizar pedido
    </button>
  </div>
</div>
