.cart {
  padding: 32px;
  &__cart-display {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 42rem));
    padding: 16px;
  }
  justify-content: end;

  &__actions {
    display: flex;
    justify-content: end;
    padding-top: 20px;

    &--button {
      background-color: #cae1a4;
      margin-left: 8px;
    }
  }
  overflow-y: scroll !important;

}

p {
  font-size: 30px;
  margin-left: 10px;
}

footer {
  margin-right: 50px;
  margin-bottom: 30px;
}
