

.nav {
    position: sticky;
    top: 0;
    background-color: $green;
    color: $dark-green;
    padding: 0 16px;
    height: $unit * 7;

    display: flex;
    align-items: center;

    &__auth {
        margin-left: auto;
    }
}

.nav a {
    margin-left: $unit * 0.625;
}

.nav a:hover  {
    border-radius: $unit * 1.875;
    background: #f4fde5;
}