<mat-card class="order-card">
    <mat-card-header>
      <mat-card-title>Pedido {{order.id}} </mat-card-title>
      <mat-card-subtitle>{{order.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Dirección de entrega: {{order.address}}</p>
        <app-price-chip [price]="order.amount"></app-price-chip>
    </mat-card-content>
    <mat-card-actions text-align="end">
      <button mat-button>Consultar</button>
      <button mat-button>Generar código QR</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar class="not-delivere-bar" *ngIf="order.status!='delivered'" mode="indeterminate"></mat-progress-bar>
        <mat-progress-bar class="delivere-bar" *ngIf="order.status=='delivered'" mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
  </mat-card>
